.img_preview[data-v-23a62eec] {
  width: 128px;
  max-height: 128px;
}
.upload_action[data-v-23a62eec] {
  width: 128px;
  height: 128px;
  border: 1px dashed #dedede;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #999;
}
.upload_action > p[data-v-23a62eec] {
  text-align: center;
  margin-top: 10px;
}

