[data-v-15f2db7a] .actions {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px;
  background: #fff;
  text-align: center;
  z-index: 1;
}

.img_preview[data-v-3f443548] {
  width: 128px;
  max-height: 128px;
}
.upload_action[data-v-3f443548] {
  width: 128px;
  height: 128px;
  border: 1px dashed #dedede;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #999;
}
.upload_action > p[data-v-3f443548] {
  text-align: center;
  margin-top: 10px;
}

[data-v-20073b17] .ant-input-number {
  width: 100%;
}
[data-v-20073b17] .ant-calendar-picker {
  width: 100% !important;
}

[data-v-bcfe6546] .ant-input-number {
  width: 100%;
}
[data-v-bcfe6546] .ant-calendar-picker {
  width: 100% !important;
}
.sku_item_wrapper[data-v-bcfe6546] {
  background-color: #f9fafc;
}
.sku_item_wrapper + .sku_item_wrapper[data-v-bcfe6546] {
  margin-top: 10px;
}

