.login_page[data-v-2529d779] {
  width: 100vw;
  height: 100vh;
  background-color: #05529e;
}
.login_page .container[data-v-2529d779] {
  width: 400px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}
.login_page .container .btn[data-v-2529d779] {
  width: 100%;
}

