.img_preview[data-v-23a62eec] {
  width: 128px;
  max-height: 128px;
}
.upload_action[data-v-23a62eec] {
  width: 128px;
  height: 128px;
  border: 1px dashed #dedede;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #999;
}
.upload_action > p[data-v-23a62eec] {
  text-align: center;
  margin-top: 10px;
}

.picker_container[data-v-272e99a9] {
  display: flex;
}
.picker_container[data-v-272e99a9] .ant-input {
  width: 90%;
}

[data-v-6d01cf79] .ant-input-number {
  width: 100%;
}
[data-v-6d01cf79] .ant-calendar-picker {
  width: 100% !important;
}

